h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-steel {
  background: rgb(37 37 37 / 70%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.site-header .navbar-nav .nav-link {
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: #1DA1F2;
  margin-right: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #1DA1F2;
  border-bottom: 1px solid #47f7ff;

}

.content-section {
  background: #111111;
  padding: 10px 20px;
  border: 1px solid #535353;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
}

a.article-title:hover {
  color: #198ad1;
  text-decoration: underline;
}

.article-content {
  white-space: pre-line;
  color: #ffffff;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.text-muted {
  color: #c3c3c3 !important;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #a8dfff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  color: #ffffff !important;
  font-size: 2rem;
}

.form-container {
  width: 60%;
  margin: auto;
}

.form-group {
  margin-bottom: 10px;
}

.alert {
  width: 60%;
  margin: auto;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.profile-name {
  background-color: #252525;
  border: 1px solid #535353;
  border-radius: 60px;
}

article.content-section {
  background-color: #111111;
}

.custom-btn {
  background: linear-gradient(88deg, #7db1ff,#7effe1);
  color: #000000;
  margin: auto 40%;
  font-weight: bolder;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #018f94;
  border-radius: 5px;
}

.custom-btn:hover {
  background: linear-gradient(88deg, #6effdd,#8bbaff);
  color: #303030;
}

.custom-btn:focus {
  border: 2px solid #85ceff;
  background-color: #048ac9;
}

.custom-text {
  background-color: #111111;
  color: #6effdd;
  border: none;
  border-bottom: 1px solid #47f7ff;
  border-radius: 0px;
  width: 70%;
  margin: auto;
}

.custom-text:active, .custom-text:focus, .custom-text:visited {
  background-color: #222222;
  color: #6effdd;
  border: none;
  border-bottom: 3px solid #47f7ff;
  box-shadow: none;
}

.custom-label {
  width: fit-content;
  margin: auto 15%;
}

.form-control.is-invalid:focus, .invalid-feedback:focus {
  box-shadow: none !important;
}
